%h3 Samples

%script{ src: "zvg/samples/column.js" }
%script{ src: "zvg/samples/multi_select_column.js" }
%script{ src: "zvg/samples/point.js" }
%script{ src: "zvg/samples/strict_point.js" }
%script{ src: "zvg/samples/radar.js" }
