!!!
%html
  %head

    %script{ type: "text/javascript", src: "d3.js" }
    %script{ type: "text/javascript", src: "zvg/zvg.js" }
    %script{ type: "text/javascript", src: "zvg/verbatim.js" }
    %script{ type: "text/javascript", src: "zvg/column.js" }
    %script{ type: "text/javascript", src: "zvg/point.js" }

%body
  %h2 TEST

  #main
    =yield


