
  
.column-label, .series1label, .series2label, .legend_text {
  font-family: arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  font-size: 10pt;
  alignment-baseline: central;
}

.column-label {
  color: white;
  fill: white;
}
.series2label {
  font-size: 9pt;
  fill: #888;
  font-weight: normal;
}

.legend_text {
  text-anchor: start;
  alignment-baseline: baseline;
}

.zvg {
  display: table;
}

.zvg-container {
  display: table-row;
}

.zvg-chart {
  display: table-cell;
  margin: 10px;
  vertical-align: top;

}

.zvg-point-shape {
  stroke: white;
  stroke-width: 1pt;
}

.series2 text {
  font-size: 8pt;
}

.legend_item {
  padding-left: 10px;
  padding-bottom: 5px;
}

.filter_legend_item > .legend_text {
  padding-left: 5px;
}

.scale_line {
  stroke-dasharray: 2 8;
}

.scale_label {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}

text.zvg-point-label {
  font-size: 11pt;
  text-anchor: start;
  font-weight: bold;

}

